* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kumbh Sans", sans-serif;
    scroll-behavior: smooth;
    /* background-color:#F4F0F1; */
  
  }
  
  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding:62px 20px;
    background-color:#F4F0F1;
    height: 80px;
    font-size: 1.2rem;
    top: 0;
    z-index: 999;
  }
  
  .navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 80px;
  }
  
  #navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .navbar__menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
  
  }
  .navbar__ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    list-style-type: none;
    flex-grow: 2;
    gap:14px;
  }
  .navbar__menu {
    display: flex;
    flex-grow: 2;
    
  }
  .navbar__item {
    height: 80px;
  }
  
  .navbar__links {
    letter-spacing: 0px;
  color: #323647;
  opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    width: 80px;
    transition: all 0.3s ease;
    text-decoration: none;
    height: 100%;
  }
  
  .navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
  
  }
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 60px;
    border: 2px solid #f44336;;
    background-color: #F4F0F1;
    font-size: 14px;
    cursor: pointer;
    padding: 20px 40px;
    color: red;
    transition: all 0.3s ease;
  
  }
  
  .navbar__links:hover {
    transition: all 0.3s ease;
  
    color: #323647;
  opacity: 1;
  }
  .navbar__btn .button:hover{
    transition: all 0.3s ease;
  
    background-color: red;
    color:white
  }
  
  
  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      z-index: 1;
      height: 80px;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
    .navbar__ul {
      width: 500px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
  
  }
  .navbar__item {
    width: 100%;
        display: flex;
      
        height: 80px;
        align-items: center;
    }
  
    .navbar__menu {
      display: grid;
      grid-template-columns: auto;
      width: 100%;
      margin: 0;
      position: absolute;
      left:0;
      top: -1000px;
      opacity: 1;
      transition: all 0.3s ease;
      z-index: -1;
  
      background-color:#F4F0F1 ;
    }
    .navbar__menu.active {
      background-color: #F4F0F1;
      top: 100%;
      opacity: 1;
      transition: all 0.3s ease;
      z-index: 99;
      height: 70vh;
      font-size: 1rem;
      transition: all 0.3s ease;
    }
    #navbar__logo {
      padding-left: 25px;
      margin: 0 auto;
    }
  
    .navbar__toggle .bar {
      width: 25px;
      height: 3px;
      margin: 5px auto;
      background: black;
      opacity: 0.8;
    }
  
    .navbar__links {
      width: 100%;
    }
  
    .navbar__btn {
      padding-bottom: 2rem;
    }
    .button {
      display: flex;
      width: 80%;
      height: 80px;
    }
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
    .navbar__toggle .bar {
      cursor: pointer;
      display: block;
    }
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  }
  
  /* About section */
  
  .main {
    background:#F4F0F1;
    height: 70vh;
    padding:0 80px;
  }
  
  .main__container {
    text-align: left;
  
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    align-items: center;
    justify-content: center;
    height: 70%;
    padding: 0 80px;
    z-index: 1;
  }
  
  .main__content {
    color: white;
  
  }
  
  .main__content h1 {
    font-size: 1.5rem;
    color:#FF3535;
    opacity: 1;
    letter-spacing: 0px;
  
  }
  .main__content h2 {
    font-size: 4rem;
    color:#FF3535;
    letter-spacing: 0px;
    color: #130F31;
  }
  
  .main__content p {
    color:#A8A8A8;
    letter-spacing: 0px;
    margin-top: 1rem;
    width: 370px;
    font-size: 1rem;
  }
  
  .main__btn:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 60px;
    border: 2px solid #f44336;;
    background-color: #F4F0F1;
    font-size: 14px;
    cursor: pointer;
   
    transition: all 0.3s ease;
    box-shadow: 0px 10px 16px #FF35353B;
    background-color: red;
    color:white;
    transition: all 0.3s ease;
  }
  .main__btn:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 60px;
    border: 2px solid #f44336;;
    background-color: #F4F0F1;
    font-size: 14px;
    cursor: pointer;
   
    transition: all 0.3s ease;
  
    background-color: white;
    color:red;
    opacity: 0.5;
    transition: all 0.3s ease;
  }
  .main__btn:last-child:hover{
  opacity: 1;
  }
  
  .main__btn {
    padding: 20px 36px;
    position: relative;
    z-index: 2;
    color:white;
    text-decoration: none;
  }
  
  .main__btn a {
    padding: 20px 25px;
    position: relative;
    z-index: 2;
    color:red;
    text-decoration: none;
  }
  .main__btns{
  margin-top: 24px;
  display: flex;
  gap: 10px;
  }
  .btn-1 a{
    color:white;
  }
  .main__img--card{
      text-align: center;
  }
  
  .main__img--card{
  
      margin:0 auto;
      width:500px;
      
      border-radius: 4px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height:300px;
  width:300px;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 0%, rgba(253,54,29,1) 100%) ;
  border-radius: 97% 3% 0% 100% / 100% 0% 100% 0% ;
  
  /* clip-path: polygon(0 54%, 100% 0, 100% 100%, 0% 100%); */
  
  }
  
  
  .main__experience_log{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;

  }
  .main__experience_item{
    text-align: center;
  }
  
  .main__experience_item h3
  {
    letter-spacing: 0px;
  color: #130F31;
  opacity: 1;
  font-size: 2rem;
  font-weight: bold;
  
  }
  
  .icon{
    margin-right: 4px;
  }
  @media screen and (max-width:1100px) {
    .main{
      padding:1rem 0;
      height: 100%;
    background-color:#F4F0F1;
  
    }
    .main__container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        text-align: center;
        justify-content: center;
        margin: 0 auto;
  
    }    
  
    .main__img--container{
      order:-2;
        display: flex;
        justify-content: center;
     
    }
    .main__img--card{
        height:225px;
        width:225px;
        order:-1;
    }
    .main__btns {
      justify-content: center;
      /* margin: 0 auto; */
      margin-top: 24px;
      display: flex;
      gap: 16px;
    }
  
    .main__content{
        margin-bottom: 4rem;
    }
    .main__content h1{
        font-size:1rem;
        margin-top: 2rem;
    }
    .main__content h2{
      font-size:1.5rem;
      
  }
    .main__content p{
      display: flex;
      font-size: 12px;
      justify-content: center;
      align-items: center;
      width: 60%;
     
      margin: 0 auto;
      }
  
      .main__experience_log {
        display: flex;
    margin-bottom: 40px;
        flex-direction: row;
      }
  }
  
  
  
  /* FOoter section */
  
  .footer__wrapper{
    background-color:#F4F0F1;
    height: auto;
    padding:0 60px;
  
  }
  
  .technology__links{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
    opacity: 0.8;
  }
  
  .technology__ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s all ease-in-out;
  
    
  }
  .technology__item{
    padding: 22px;
    transition: 0.3s all ease-in-out;
  
  }
  .technology__item:hover{
    transform:scale(2);
    transition: 0.3s all ease-in-out;
  }
  
  .technology__links:hover{
    color:red;
    
   
  }

  
  @media screen and (max-width:962px) {
  
    .technology__links{
      text-decoration: none;
      color:black;
      font-size: 1rem;
    }
  }
    @media screen and (max-width:733px) {
      .technology__links{
        font-size: 12px;
      }
      .technology__ul{
        flex-direction: column;
      }
    }
      /* for small phones */

  @media screen and (max-width: 303px) { 
          
    .navbar__ul{
        width:280px;
    }
    
}

@media screen and (max-width: 503px) { 
          
    .navbar__ul{
        width:350px;
    }
    
}